body {
    /* background-color: #0c0c0c; */
    background-color: #1f2024;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.welcome h1 {
    position: relative;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1;
}

.welcome a {
    max-width: 250px;
    text-decoration: none;
    /* color: #282828; */
    color: #c3c3c3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.welcome a:hover {
    color: #007bff;
}

.sec-pad {
    padding-bottom: 150px;
}

.contact-infos {
    border-top: 1px solid #eeeeee;
}
@media (max-width: 774px) {
    .contact-infos li{
        width: 100%;
    }
}
.progress {
    height: 0.5rem;
}

#fp-nav.left {
    left: 100px !important;
}

#fp-nav.left {
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#fp-nav.left::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 13px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #555;
    opacity: .35;
    z-index: 10;
}

@media (max-width: 1180px) {
    #fp-nav {
        visibility: hidden;
    }
}

#fp-nav ul {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 70%;
    max-height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    z-index: 10;
}

#fp-nav ul li {
    top: -5px;
    color: #fff;
    font-size: 6px;
    cursor: pointer;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #fff !important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #007bff !important;
}

#fp-nav a+.fp-tooltip {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

#fp-nav a.active+.fp-tooltip {
    opacity: 1;
    width: 100px;
    top: -4px;
}