body {
    /* background-color: #0c0c0c; */
    background-color: #1f2024;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.welcome h1 {
    position: relative;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1;
}

.welcome a {
    max-width: 250px;
    text-decoration: none;
    /* color: #282828; */
    color: #c3c3c3;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.welcome a:hover {
    color: #007bff;
}

.section .content {
    max-width: 700px;
    margin: 0 auto;
}

/* @media (min-width: 774px) {
    .section .content {
        max-width: 700px;
        margin: 0 auto;
    }
} */

.contact-infos {
    border-top: 1px solid #eeeeee;
}

@media (max-width: 774px) {
    .contact-infos li {
        width: 100%;
    }
}

.progress {
    height: 0.5rem;
}

#fp-nav.left {
    left: 120px !important;
}

#fp-nav.left {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0 !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#fp-nav.left::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 13px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #555;
    opacity: .35;
    z-index: 10;
}

@media (max-width: 1180px) {
    #fp-nav {
        visibility: hidden;
    }
}

#fp-nav ul {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 70%;
    max-height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    z-index: 10;
}

#fp-nav ul li {
    top: -5px;
    color: #fff;
    font-size: 6px;
    cursor: pointer;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #fff !important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #007bff !important;
    height: 16px !important;
    width: 16px !important;
    left: 4px !important;
    top: 4px !important;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

#fp-nav a.active {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}


#fp-nav a+.fp-tooltip {
    opacity: 1 !important;
    width: 100px !important;
    top: -4px !important;
}

